body {
  background-color: #fff;
  color: #333;
}


.TodoList {
  text-align: center;
}

.taskBg {
background-color: #fff;
border-radius: 6px;
margin-bottom: 20px;
padding: 10px 140px 10px 15px;
text-align: left;
font-size: 22px;
position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #fff;
 /* border: 1px solid #999;*/
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
} 

.taskBg .done .taskText {
text-decoration: line-through;
opacity: 0.3;
flex: 1;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}

.form-control  {
  border-width: 1;
  border-color: #777;
  padding: 8px;
  margin: 10px;
  width: 300px;
  margin: auto;
}

.Okay {
  position: relative;
  display:flex;
  gap: 100px;
  justify-content: center;
  max-width: 1200px;
  margin:  auto;
}



.btn-one {
  border: none;
  color: #fff;
  padding: 16px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color:black;
}

.btn-two {
  border: none;
  color: #fff;
  padding: 16px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #777;
}

.btn-three {
  border: 2px solid black;
  color:black;
  padding: 16px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color:#fff;
  border-color: black
}

#btn-four {
  width: 167px;
  height: 44px;
  background: #38D98C;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn-five {
  width: 167px;
  height: 44px;
  background: #d93838;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.todo-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
}

.margin-left{
  margin-left: 80px !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2, .form-style{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-button{
  width: 300px;
  height: 44px;
  background: #389Bd9;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-top: 50px;
}

#submit-button-local{
  width: 270px;
  height: 44px;
  background: #389Bd9;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-top: 50px;
}

.line-break{
  display: flex;
  margin-top: 10vh;
  height: 0px;
  border: 1px solid #b2beb5;
}

.btns{
  position: relative;
  display: flex;
  gap: 50px;
  top: 4.5vh;
  padding-top: 0%;
}

.todo-style{
  position: relative;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.form-todo{
  padding-right: 150px;
}
span.mx-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
